{% extends 'pages/base.html'%}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid" >
        <img src="https://cdn.pixabay.com/photo/2016/08/23/01/03/cup-1613315_960_720.jpg" width="100%" height="450px" alt="">
    </div>
    </div>
    <div>
        <br/>
        <h2 class="text-center font-weight-bold">Available Project</h2>
    </div>
    <div class="templates d-flex flex-row">
        {% for pro in projects %}

        <div class="col-md-4 mt-4">
            <div class="card profile-card-5">
                <br/>
                <h3 class="card-title text-center">{{pro.title}}</h3>
                <div class="card-img-block">
                    <a href="/project/{{pro.id}}"><img class="card-img-top" src="{{pro.image}}" alt="Card image cap"></a>
                </div>
                <div class="card-body pt-0">
                    <br/>
                    <p class="card-text">{{pro.description}}</p>
                    <p class="text-capitalize py-1">Posted by : {{pro.user}}</p>
                    <a href="{{pro.url}}" class="btn btn-primary">View Site</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}