{% extends 'pages/base.html'%}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="pictures">
            <img src="{{project.image}}" alt="..." class="img-thumbnail my-2" style="width: 80rem; height:45rem">
            <img src="{{project.image2}}" alt="..." class="img-thumbnail my-2" style="width: 80rem; height:45rem">
        </div>


        <!-- <div class="more_details d-flex flex-row justify-content-around">
            <div class="details">
                <ul>
                    <li>Title</li>

                    <li>Description</li>
                    <li>Site Url</li>
                    <li>User</li>

                </ul>

            </div>
            <div class="ratings ">
                <ul>
                    <li>Design</li>
                    <li>Usability</li>
                    <li>Content</li>
                </ul>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}
